*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.wrapper{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color:white;
    width: 100%;
   
 
    

}
.header__nav{
    padding-bottom: 10px;
}
.header__row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.header__icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all .3s;
}
.list__link{
transition: all .3s;
}
.list__link:hover{
    color: red;
    transform: scale(1.1);
}
.header__icon:hover{
    transform: scale(1.1);
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;
}
.header__logo img{
    width: 190px;
    
}
.main{
    padding-top: 200px; 
}

.main__categories{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}
.categories__item img{
    width: 100%;
    height: auto;
    display: block;
}
.main__popular{
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.main__popular h2{
    margin-bottom: 20px;
}
.popular__carosel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.categories__item img{
   
}
.categories__item{
  
}
.categories__item span{
    
}
.buy__title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
}
.buy__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}
.buy__card img{
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 20px;
}
.buy__card{
    padding: 40px 20px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}
.buy__card:hover{
    box-shadow: inset 0 0 1px 1px rgb(189, 188, 188);
    transform: rotateY(20deg);

}

.buy__card span:last-child{
    color: green;
}

.top__row{
    width: 100%;
    height: 40px;
    background-color: #ff914d;
    position: absolute;
    top:0;
    left: 0;
    z-index: 9999;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 40px;
}
.footer{
    width: 100%;
}
.footer__inner{
    width: 100%;
    height: 300px;
    background-color: #d1d1d1;
}
@media (max-width:800px) {
    .main__categories{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    margin: ;

}
}
@media (max-width:600px) {
    .main__categories{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  ;
    gap: 10px;


}
}